.c-header {
  background-color: $blue;
  height: 10.4rem;
}
.header {
  &__ {
    &menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &section {
        height: 100%;
        display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &--left {
      }
      &--right {
        
      }
    }
  }
}
.c-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}
.logo {
  &__ {
    &img {
      padding: 0.2rem 0;
    }
    &text {
      color: $white;
      font-family: $fontArial;
      font-size: 1.6rem;
      margin: 0;
      width: 15rem;
      margin-left: 1.3rem;
      text-align: left;
    }
  }
}


.c-telephone {
  color: $white;
  font-family: $fontArial;
  font-size: 3rem;
  text-decoration: none;
  width: 35rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  .telephone__text {
    font-size: 1.6rem;
    letter-spacing: 0.15px;
    position: relative;
   &:after{
       content: "";
       width: 100%;
       background-color: rgba($white, 0.1);
       height: 0.1rem;
       position: absolute;
       display: inline-block;
       bottom: 0;
       left: 0;
   }
  }
}
.c-social-media {
  display: inline-block;
  margin: 0 0 0 37px;
  @include icon("facebook");
  @include icon("google-plus");
  @include icon("instagram");
  .social {
    &__ {
      &link {
        background-color: $white;
        border-radius: 50%;
        width: 3.2rem;
        height: 3.2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.8rem;
        &:focus,
        &:hover,
        &:visited {
          @include icon-active("facebook");
          @include icon-active("google-plus");
          @include icon-active("instagram");
        }
      }
      &icon {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
