@mixin icon($property) {
  .icon__#{$property} {
    background: url("../img/social.svg##{$property}") center center no-repeat;
  }
}
@mixin icon-active($property) {
  .icon__#{$property} {
    background: url("../img/social.svg##{$property}-active") center center no-repeat;
  }
}
@mixin icon-white($property) {
  .icon__#{$property} {
    background: url("../img/social.svg##{$property}-white") center center no-repeat;
  }
}